:root{
    --fondoPantalla: #253340;
    --fecha: #B5B5B5;
    --fondoCaja: #16202A;
    --textoPrincipal: #FFFFFF;
    --emojiCansado: #C6DC2B;
    --emojiFeliz: #05C12B;
    --emojiMuerto: #FF0E0E;
    --fecha: #B5B5B5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica,Arial;
}

body{
    background-color: var(--fondoPantalla);
}


/*---------------Cabecera------------*/
header{
    background-color: var(--fondoCaja);
    height: 90px;
    width: 100%;
}

h1{
    color: var(--textoPrincipal);
    font-size: 40px;
    line-height:90px;  
    padding-left: 20px; 
}
/*-------------------------------*/



/*---------------Cajas------------*/

#contenedor{
    display: grid;
    width: 96%;
    height: auto;
    margin: 0px auto;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 250px 250px;
    grid-template-areas:  
    "primera segunda tercera"
    "cuarta quinta sexta";

    grid-gap: 20px;
    justify-content: center;

    margin-top: 30px;
}

.caja{
    background-color: var(--fondoCaja);
}

#mundo{
    grid-area: primera;
}
#mx{
    grid-area: segunda;
}

#eu{
    grid-area: tercera;
}
#es{
    grid-area: cuarta;
}
#it{
    grid-area: quinta;
}

#ch{
    grid-area: sexta;

}

/*-------------------------------*/


/*-----------------TEXTOS-------------*/
h2{
    color: var(--textoPrincipal);
    font-size: 28px;
    font-weight: bold;
}

p{
    color: var(--textoPrincipal);
}

.fecha{
    color: var(--fecha);
}
/*-------------------------------*/


/*-----------------EMOJIS-------------*/
.feliz{
    color: var(--emojiFeliz);
}
.cansado{
    color: var(--emojiCansado);
}
.muerto{
    color: var(--emojiMuerto);
}
/*-------------------------------*/

/*-------------TEXTOS CAJAS-------------*/

.pais{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 60px;
    grid-template-areas:  
    "icono nombre numero";
    margin-top: 10px;
}

.pais i{
    grid-area: icono;
    font-size: 55px;
    color: rgb(0, 128, 255);
    padding-top: 5px;
    padding-left: 10px;
    margin-top: -4px;
    margin-left: 5px;
}

.pais img{
    grid-area: icono;
    color: rgb(0, 128, 255);
    margin: 5px;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.pais .nombre{
    grid-area: nombre;
    padding-top: 5px;
}


 
.pais .numero{
    grid-area: numero;
    align-self: center;
    justify-self: end;
    padding: 15px;
    padding-top: 0px;
}

.informacion{
    font-size: 20px;
    margin-top: 20px;
}
.parrafos{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.informacion i{
    margin-left: 15px;
}

.informacion p{
    margin-left: 10px;
     font-size: 22px;

}

/*-------------------------------*/


/*-------------RESPONSIVE-------------*/


@media(max-width:1268px){
    #contenedor{
        grid-template-areas:  
        "primera segunda"
        "tercera cuarta"
        "quinta sexta";
        grid-template-columns: 477px 477px;
        grid-template-rows: 250px 250px 250px;


        justify-content: center;
        align-content: center;
    }
    .pais img{
        margin-left: 20px;
 
    }
    .pais i{
    
        margin-left: 15px;
    }
}

@media(max-width:1000px){
    header{
        height: 60px;
    }
    h1{
        font-size: 25px;
        line-height: 60px;
    }
    #contenedor{
        grid-template-areas:  
        "primera" 
        "segunda"
        "tercera" 
        "cuarta"
        "quinta" 
        "sexta";
        grid-template-columns: 477px;
        grid-template-rows: repeat(6, 250px);

        width: 100%;
        justify-content: center;
        align-content: center;
    }
}

@media(max-width:486px){
    h1{
        font-size: 24px;
        line-height: 60px;
    }
    #contenedor{
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, 220px);

        width: 100%;
        justify-content: center;
        align-content: center;
    }

    h2{
        font-size: 22px;
    }
    .fecha{
        font-size: 13px;

    }
    .pais i{
        font-size: 55px;
    }
    .pais img{
        margin-left: 20px;

    }
    .informacion p {
        font-size: 20px;
    }
    .numero{
        font-size: 20px;
    }

}

@media(max-width:452px){
    .pais i{
        margin-left: 10px;
    }
    .pais img{
        margin-left: 20px;
        width: 55px;
        height: 55px;
    }
    .informacion p {
        font-size: 18px;
    }
    #contenedor{
        grid-template-rows: repeat(6, 210px);
    }
}

@media(max-width:395px){
    .pais i{
        margin-left: 10px;
        font-size: 45px;
    }
    .pais img{
        width: 47px;
        height: 47px;
        margin-left: 17px;
    }
    .informacion p {
        font-size: 17px;
    }
}

@media(max-width:348px){
    .pais i{
        margin-left: 4px;
    }
    .pais img{
        margin-left: 10px;
    }
}
/*-------------------------------*/
